@model WebApplication1.Domain.Song
@{
    ViewBag.Title = "Edit";
}

@section scripts
{
    <script src="/Scripts/vexflow-min.js"></script></script>
    <script type='text/javascript' src='/Scripts/knockout-3.1.0.js'></script>
    <script type='text/javascript' src='/Scripts/edit.js'></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="https://rawgit.com/rniemeyer/knockout-sortable/master/build/knockout-sortable.js"></script>
    <link href="/Scripts/jquery-ui.min.css" rel="stylesheet">


    <script>
        $(function() {


            function section(data) {
                var self = this;
                self.Id = ko.observable(data.Id);
                self.Name = ko.observable(data.Name);
                self.Measures = ko.observable(data.Measures);
                //self.Grooves = ko.observableArray( [ko.observable(groove(data))]);
                self.Vocal = ko.observable(data.Vocal);
            }

            function groove(data) {
                var self = this;
                self.hh = data.hh;
                self.sd = data.sd;
                self.bd = data.bd;
            }

            function load (self) {
                $.ajax({
                    type: "GET",
                    url: "/api/Songs/@Model.Id",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        self.Title(data.Title);
                        self.Id(data.Id);
                        for (var i = 0; i < data.Sections.length; i++) {
                            var sec = data.Sections[i];
                            var sec1 = new section(sec);
                            self.Sections.push(sec1);
                        }
                    },
                    error: function (err) {
                        alert("Error : " + err.status + "   " + err.statusText);
                    }
                });
            };

            function SongViewModel() {
                var self = this;
                self.save = function () {
                    $.ajax({
                        type: "PUT",
                        url: "/api/Songs/@Model.Id",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ko.toJSON(self),
                        success: function (data) {
                            alert('done');
                        },
                        error: function (err) {
                            alert("Error : " + err.status + "   " + err.statusText);
                        }
                    });
                };
              
                self.Sections = ko.observableArray();
                self.Title = ko.observable();
                self.Id = ko.observable();


                self.add = function() {
                    self.Sections.push({
                        Name: ko.observable("section"),
                        Measures: ko.observable(8),
                        Grooves: ko.observableArray([ko.observable({
                            hh: [1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
                            sd: [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
                            bd: [1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
                        })]),
                        Vocal: ko.observable("vocal")
                    });
                };
            }

            ;
            var model = new SongViewModel();
            load(model);
            ko.bindingHandlers.sortable.options.handle = ".handle";
            ko.applyBindings(model);
            //$("#song").sortable({ handle: ".handle" });
        });
    </script>

}
<h2 contenteditable="true" data-bind="htmlValue: Title"></h2>
<table>
    <tr>
        <th>Section</th>
        <th>Bars</th>
        <th>Groove</th>
        <th>Vocals</th>
    </tr>
    <tbody id="song" data-bind="sortable: Sections">
        <tr>

            <td contenteditable="true" data-bind="htmlValue: Name"></td>
            <td contenteditable="true" data-bind="htmlValue:  Measures"></td>
            @*<td data-bind="foreach: Grooves">
                <canvas data-bind="staff: $data" width=500 height=120></canvas>
            </td>*@
            <td contenteditable="true" data-bind="htmlValue: Vocal"></td>
            <td class="handle">move</td>
        </tr>
    </tbody>
    <tfoot>
        <tr><td colspan="4" align="center"><a href="#" data-bind="click: add">Add</a></td></tr>
    </tfoot>
</table>


<button data-bind="click: save">Save</button>
