@model WebApplication1.Domain.Song
@{
    ViewBag.Title = "Edit";
}

@section scripts
{
    <script src="/Scripts/vexflow-min.js"></script></script>
    <script type='text/javascript' src='/Scripts/knockout-3.1.0.js'></script>
    <script type='text/javascript' src='/Scripts/edit.js'></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="https://rawgit.com/rniemeyer/knockout-sortable/master/build/knockout-sortable.js"></script>
    <link href="/Scripts/jquery-ui.min.css" rel="stylesheet">


    <script>
        $(function() {


                function section(data) {
                    var self = this;
                    self.Id = ko.observable(data.Id);
                    self.Name = ko.observable(data.Name);
                    self.Measures = ko.observable(data.Measures);
                    self.Grooves = new Array();
                    self.Vocal = ko.observable(data.Vocal);

                    for (var i = 0; i < data.Grooves.length; i++) {
                        var g = data.Grooves[i];
                        var g1 = new groove(g);
                        self.Grooves.push(ko.observable(g1));
                    }

                    self.add = function() {
                        self.Grooves.push(ko.observable(new groove({
                            Top: [
                                {
                                    notes: [1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
                                    name: "highhat",
                                    position: 9
                                },
                                {
                                    notes: [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
                                    name: "snare",
                                    position: 5
                                }
                            ],
                            Bottom: [
                                {
                                    notes: [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
                                    name: "kick",
                                    position: 2
                                }
                            ],
                        })));
                    };
                }

                function groove(data) {
                    var self = this;
                    self.Top = new Array();
                    self.Bottom = new Array();

                    for (var i = 0; i < data.Top.length; i++) {
                        var v = data.Top[i];
                        var v1 = new voice(v);
                        self.Top.push(v1);
                    }

                    for (var i = 0; i < data.Bottom.length; i++) {
                        var v = data.Bottom[i];
                        var v1 = new voice(v);
                        self.Bottom.push(v1);
                    }

                }

                function voice(data) {
                    var self = this;
                    self.notes = data.Notes;
                    self.position = data.Position;
                    self.name = data.Name;
                }

                function load(self) {
                    $.ajax({
                        type: "GET",
                        url: "/api/Songs/@Model.Id",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(data) {
                            self.Title(data.Title);
                            self.Id(data.Id);
                            for (var i = 0; i < data.Sections.length; i++) {
                                var sec = data.Sections[i];
                                var sec1 = new section(sec);
                                self.Sections.push(sec1);
                            }
                        },
                        error: function(err) {
                            alert("Error : " + err.status + "   " + err.statusText);
                        }
                    });
                };

                function SongViewModel() {
                    var self = this;
                    self.save = function() {
                        $.ajax({
                            type: "PUT",
                            url: "/api/Songs/@Model.Id",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: ko.toJSON(self),
                        success: function(data) {
                            
                        },
                        error: function(err) {
                            alert("Error : " + err.status + "   " + err.statusText);
                        }
                    });
                };

                self.Sections = ko.observableArray();
                self.Title = ko.observable();
                self.Id = ko.observable();

                self.add = function() {
                    self.Sections.push(new section({
                        Name:"section",
                        Measures:8,
                        Grooves:[{
                            Top: [
                                {
                                    Notes: [1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0] ,
                                    Bame: "highhat",
                                    Position:9
                                },
                                {
                                    Notes: [0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0],
                                    Name: "snare",
                                    Position:5
                                }
                            ],
                            Bottom: [
                                {
                                    Notes: [1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
                                    Name: "kick",
                                    Position:2
                                }
                            ],                                                   
                        }],
                        Vocal:"vocal queue"
                    }));};

                    self.addgroove = function(data) {
                        data.add();
                    };

                };
        var model = new SongViewModel();
        load(model);
        ko.bindingHandlers.sortable.options.handle = ".handle";
        ko.applyBindings(model);
        });
    </script>

}
<h2 contenteditable="true" data-bind="htmlValue: Title"></h2>
<table class="table">
    <tr>
        <th></th>
        <th>Bars</th>
        <th>Groove</th>
        <th>Vocal Queue</th>
    </tr>
    <tbody id="song" data-bind="sortable: Sections">
        <tr>

            <td contenteditable="true" data-bind="htmlValue: Name"></td>
            <td contenteditable="true" data-bind="htmlValue:  Measures"></td>
            <td valign="middle">
                <!-- ko foreach: Grooves -->
                <canvas data-bind="staff: $data" width=500 height=120></canvas>
                <!-- /ko -->
                <a href="#" class="btn btn-lg" data-bind="click: add">Add Measure</a>
            </td>
            <td contenteditable="true" data-bind="htmlValue: Vocal"></td>
            <td class="handle"><span class=" btn btn-lg glyphicon glyphicon-align-justify"></span></td>
        </tr>
    </tbody>
    <tfoot>
        <tr><td colspan="4" align="center"><a href="#" class="btn btn-lg" data-bind="click: add">Add Section</a></td></tr>
    </tfoot>
</table>


<button data-bind="click: save">Save</button>
