@model Drumly.Domain.Song

@section scripts
{
    <script src="~/bundles/app"></script>
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet">
    <script>
        $(function() {


            var model = new SongViewModel();
            model.load('@Model.Id');
            ko.bindingHandlers.sortable.options.handle = ".handle";
            ko.applyBindings(model);
        }
        );
    </script>

}
<h2 contenteditable="true" data-bind="htmlValue: Title"></h2>
<table class="table">
    <tr>
        <th></th>
        <th>Bars</th>
        <th>Groove</th>
        <th>Vocal Queue</th>
    </tr>
    <tbody id="song" data-bind="sortable: Sections">
        <tr>
            <td contenteditable="true" data-bind="htmlValue: Name"></td>
            <td contenteditable="true" data-bind="htmlValue:  Measures"></td>
            <td valign="middle">
                <canvas data-bind="staff: Grooves" height=120> </canvas>
                <a href="#" class="btn btn-lg hidden-print" data-bind="click: add">Add Measure</a>
            </td>
            <td contenteditable="true" data-bind="htmlValue: Vocal"></td>
            <td class="handle hidden-print"><span class=" btn btn-lg glyphicon glyphicon-align-justify"></span></td>
        </tr>
    </tbody>
    <tfoot class="hidden-print">
        <tr><td colspan="4" align="center"><a href="#" class="btn btn-lg" data-bind="click: add">Add Section</a></td></tr>
    </tfoot>
</table>
<button class="hidden-print" data-bind="click: save">Save</button>
