
@section scripts
{
    @Scripts.Render("~/bundles/app")
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet">
    <script>
        function save(data) {
            data.save();
        }

        $(function() {
            var app = new Application();
            app.load();
            app.onchange = function() { save(app); };
            ko.applyBindings(app);

            app.sync();
            setInterval(function() {
                if (navigator.onLine) {
                    app.sync();
                }
            }, 30000);
        });

    </script>
}
<h2>My Drumly</h2>
<div>
    <h3>Sets</h3>
    <ul data-bind="foreach: sets">
        <li><a data-bind="attr: { href: '/app/set/#id='+id() }"><span data-bind="text:title"></span></a></li>
    </ul>
    <a href="#" class="btn btn-sm hidden-print" data-bind="click: addSet">Add Set</a>


    <h3>Songs</h3>
    <ul data-bind="foreach: songs">
        <li><a data-bind="attr: { href: '/app/song/#id='+id() }"><span data-bind="text:title"></span></a></li>
    </ul>
    <a href="#" class="btn btn-sm hidden-print" data-bind="click: addSong">Add Song</a>


    <a href="#" class="btn btn-sm hidden-print" data-bind="click: downloadCloud">Download From Cloud</a>
    
    <a href="#" class="btn btn-sm hidden-print" data-bind="click: shareCloud">Share</a>
       
</div>

