@section scripts
{
    @Scripts.Render("~/bundles/app")
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet">
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


        function SetViewModel() {
            var self = this;
            self.title = ko.observable();
            self.songs = ko.observableArray();
            self.id = ko.observable();
            self.allsongs = new Array();

            self.load = function (id) {
                self.id(id);
                var app = store.get('app');
                
                for (var i = 0; i < app.sets.length; i++) {
                    if (app.sets[i].id === id) {
                        var set = app.sets[i];
                        self.title(set.title);
                    }
                }
                
                for (var i = 0; i < app.songs.length; i++) {
                    self.allsongs.push(app.songs[i]);
                }
            
                var data = store.get(id);
                if (data != undefined && data.songs != undefined) {
                    for (i = 0; i < data.songs.length; i++) {
                        var set1 = data.songs[i];
                        self.songs.push(new song(set1.title, set1.id));
                    }
                }
            };

            self.save = function () {
                store.set(self.id(), ko.toJS(self));
            };

            self.addSong = function(data) {
                self.songs.push(new song(data.title, data.id));
                self.save();
            };
        }

        function viewmodel() {
            self = this;
            self.set = ko.observable();
            self.song = ko.observable();
        }

        function displaySong(song) {
            var data = store.get(song.id());
            var songVM = new SongViewModel();
            songVM.create(data);
            model.song(songVM);
            $("#song").show();
        }

        var model;
        $(function () {
            var id = getParameterByName('id');
            console.log(id);            
            var set = new SetViewModel();
            set.load(id);
            ko.bindingHandlers.sortable.afterMove = set.save;

             model = new viewmodel();
             model.set(set);
            if (set.songs().length > 0) {
                displaySong(set.songs()[0]);
            }

            ko.applyBindings(model);
        });

    </script>
}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li>
                    <a href="/app">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="/app/sets">Set</a> <span class="divider">/</span>
                </li>
                <li class="active">
                    
                </li>
            </ul>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="list-group" data-bind="with: set">
                <a href="#" class="list-group-item active" data-bind="text:title"></a>
                <span data-bind="sortable: songs">
                    <div class="list-group-item">
                        <a href="#" data-bind="click:displaySong"><span data-bind="text:title"></span></a>
                    </div>
                </span>
                <div class="list-group-item">
                    <div class="dropdown hidden-print">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-plus"></span>
                            Song
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <!-- ko foreach: allsongs -->
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text:title ,click:$parent.addSong"></a></li>
                            <!-- /ko -->
                            @*<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:alert('hey')" >New Song</a></li>*@
                        </ul>
                    </div>
                
                </div>                 
            </div>
        </div>
        <div class="col-md-9 column">
            <div class="panel panel-default" data-bind="with: song">
                <div class="panel-heading">
                    <h3 class="panel-title" data-bind="text: title">
                    </h3>
                </div>
                <div class="panel-body">
                        <ul data-bind="foreach: sections">
                            <li>
                                <span data-bind="text: name"></span>
                                <span data-bind="text:  measures"></span>
                                <span valign="middle">
                                    <canvas data-bind="staff: grooves" height=120> </canvas>
                                </span>
                                <span data-bind="text: vocal"></span>
                                <span class="handle hidden-print"></span>
                            </li>
                        </ul>
                </div>
                <div class="panel-footer">
                    tempo
                </div>
            </div>
        </div>
        <div class="col-md-1 column">
            <div class="btn-group btn-group-vertical btn-group-lg">
                <button class="btn btn-default" type="button"> << </button>
                <button class="btn btn-default" type="button"> >> </button>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
