@section scripts
{
    @Scripts.Render("~/bundles/app")
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet">
    <script>
        function save(data) {
            data.save();
        }

        $(function () {
            var app = new Application();
            app.load();
            app.onchange = function () { save(app); };
            ko.applyBindings(app);

            app.sync();
            setInterval(function () {
                app.sync();
            }, 30000);
        });

    </script>
}
<div>
    <h3>Sets</h3>
    <div class="list-group" data-bind="foreach: sets">
        <a class="list-group-item" data-bind="attr: { href: '/app/set#id='+id() }"><span data-bind="text:title"></span></a>
    </div>
</div>

