@section scripts
{
    @Scripts.Render("~/bundles/app")
    <link href="~/Scripts/jquery-ui.min.css" rel="stylesheet">
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }


        function SetViewModel() {
            var self = this;
            self.title = ko.observable();
            self.songs = ko.observableArray();
            self.id = ko.observable();
            self.allsongs = new Array();

            self.load = function (id) {
                self.id(id);
                var app = store.get('app');

                for (var i = 0; i < app.sets.length; i++) {
                    if (app.sets[i].id === id) {
                        var set = app.sets[i];
                        self.title(set.title);
                    }
                }

                for (var i = 0; i < app.songs.length; i++) {
                    self.allsongs.push(app.songs[i]);
                }

                var data = store.get(id);
                if (data != undefined && data.songs != undefined) {
                    for (i = 0; i < data.songs.length; i++) {
                        var set1 = data.songs[i];
                        self.songs.push(new song(set1.title, set1.id));
                    }
                }
            };

            self.save = function () {
                store.set(self.id(), ko.toJS(self));
            };

            self.addSong = function(data) {
                self.songs.push(new song(data.title, data.id));
                self.save();
            };
        }

        function displaySong(song) {
            var data = store.get(song.id());
            var songVM = new SongViewModel();
            songVM.create(data);
            ko.applyBindings(songVM, document.getElementById("song"));
            $("#song").show();
        }


    $(function() {

        var id = getParameterByName('id');
        console.log(id);
        var model = new SongViewModel();
        model.load(id);
        ko.bindingHandlers.sortable.options.handle = ".handle";
        ko.applyBindings(model);
    }
    );

    </script>
}

<h2 contenteditable="true" data-bind="htmlValue: title"></h2>
<table class="table">
    <tr>
        <th></th>
        <th>Bars</th>
        <th>Groove</th>
        <th>Vocal Queue</th>
    </tr>
    <tbody id="song" data-bind="sortable: sections">
        <tr>
            <td contenteditable="true" data-bind="htmlValue: name"></td>
            <td contenteditable="true" data-bind="htmlValue:  measures"></td>
            <td valign="middle">
                <canvas data-bind="staff: grooves" height=120> </canvas>
                <a href="#" class="btn btn-lg hidden-print" data-bind="click: add">Add Measure</a>
            </td>
            <td contenteditable="true" data-bind="htmlValue: vocal"></td>
            <td class="handle hidden-print"><span class=" btn btn-lg glyphicon glyphicon-align-justify"></span></td>
        </tr>
    </tbody>
    <tfoot class="hidden-print">
        <tr><td colspan="4" align="center"><a href="#" class="btn btn-lg" data-bind="click: add">Add Section</a></td></tr>
    </tfoot>
</table>

