@model List<WebApplication1.Domain.Song>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Drum Score</h1>
    <p class="lead">Create quick song notations, its like cliff notes for drumset.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@foreach (var model in Model)
{
    <ul><a href="@Url.Action("Edit","Song",new {id=@model.Id})">@(model.Title)</a></ul>
}
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Save Set Lists</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Song Library</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>