@model dynamic
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Drumly</h1>
    <p class="lead">Create quick song notations, its like cliff notes for drumset.</p>
    <p><a href="@Url.Action("index","app")" class="btn btn-primary btn-lg">Create a new drumly, Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="@Url.Action("index","app")">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Save Set Lists</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="#">Create Set List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Song Library</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="#">Browse Songs &raquo;</a></p>
    </div>
</div>